[Unit]
Description=Gunicorn service for DeepChest Flask app
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/app
Environment="PATH=/home/ec2-user/app/.venv/bin"
ExecStart=/home/ec2-user/app/.venv/bin/gunicorn \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    app:app

Restart=always

[Install]
WantedBy=multi-user.target

