<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Doctor Patients - RespiScan</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/doctor.css" />
    <link rel="stylesheet" href="/static/logostyle.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/"
          ><img
            src="{{ url_for('static', filename='logo_DeepChest.png') }}"
            class="logo-img"
        /></a>
        <div class="logo-text">RespiScan</div>
      </div>
      <div class="nav-links">
        <a href="/doctor_home">Home</a>
        <a href="/doctor/appointments">Appointments</a>
        <a href="#">My Patients</a>
        <a href="/doctor/reports">Reports</a>
        <a href="/doctor/ai_diagnosis">AI Diagnosis</a>
        <div class="dropdown">
          <button class="dropbtn">Account &#9662;</button>
          <div class="dropdown-content">
            <a href="/doctor/account">Manage Account</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="doctor-page-content">
  <h1>My Patients</h1>
  <p>Manage and view details of your patients here.</p>

  <div class="patient-search-bar-container">
        <form method="GET" action="/doctor/search_patients">
          <input
            type="text"
            name="query"
            class="report-search-bar"
            placeholder="Search for specific patients..."
            autocomplete="off"
          />
          <button type="submit" class="patient-search-btn">Search</button>
        </form>
      </div>


          {% if patients %}
      <div class="doctor-reports-table">
        <table class="search-table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Date of Birth</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>City</th>
              <th>Province</th>
              <th>Postal Code</th>
              <th>Insurance</th>
            </tr>
          </thead>
          <tbody>
            {% for patient in patients %}
            <tr>
              <td>{{ patient.firstName }}</td>
              <td>{{ patient.lastName }}</td>
              <td>{{ patient.age }}</td>
              <td>{{ patient.dateofbirth }}</td>
              <td>{{ patient.phone }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.address }}</td>
              <td>{{ patient.city }}</td>
              <td>{{ patient.province }}</td>
              <td>{{ patient.postalCode }}</td>
              <td>{{ patient.insurance }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="no-data">No patients found.</p>
      {% endif %}
        </div>

  </body>
</html>
