/* Styles for the logo and navigation bar */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
}

.logo {
    display: flex;
    align-items: left;
    gap: 8px; 
}

.logo-img {
    height: 35px; 
    width: auto;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    align-self: center; 
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}
